<template>
  <div class="index-container">
    <swiper auto loop dots-position="center">
      <swiper-item v-for="(url, index) in baseList" :key="index" class="index-swiper">
        <img :src="url.img" alt="">
      </swiper-item>
    </swiper>
    <div class="index-search">
      <divider class="index-divider">
        <div class="index-search-box">
          <x-input class="index-search-input" placeholder="搜索文章话题或专家名字">
            <x-icon slot="restricted-label" style="display:inline-block;vertical-align:middle; padding-right: 10px" type="ios-search" size="15"></x-icon>
          </x-input>
        </div>
      </divider>
    </div>
    <div class="index-nav-list-container">
      <ul>
        <li v-for="(nav, index) in navList" :key="index">
          <router-link :to="nav.link">
            <img :src="nav.img" alt="">
            <p>{{nav.text}}</p>
          </router-link>
        </li>
      </ul>
    </div>
    <div class="index-article-container">
      <div class="index-article-head">
        <tab
          :line-width="4"
          :custom-bar-width="getBarWidth"
          active-color="black"
          v-model="articleTxtActive"
          prevent-default
          default-color="rgb(111, 102, 102)"
          @on-before-index-change="articleTxtChange"
          class="index-article-tab">
          <tab-item selected>好文推荐</tab-item>
          <tab-item>最新文章</tab-item>
          <!--<tab-item
            v-for="(at, index) in articleTxt"
            :selected=" === index"
            @on-item-click="articleTxtChange(index)"
            :key="index">{{at}}</tab-item>-->
        </tab>
        <p class="index-article-select">
          <popup-picker
            popup-title="主题类型"
            :data="articleSelectList"
            v-model="value1_1"
            @on-show="onShow"
            @on-hide="onHide"
            @on-change="onChange"
            :show="false">
            <template slot="title" slot-scope="props"><!-- use scope="props" when vue < 2.5.0 -->
              <x-icon type="ios-search" size="20"></x-icon>搜索主题
            </template>
          </popup-picker>
        </p>
      </div>
      <div class="index-article-body">
        <div class="article-list" v-for="(atc, index) in articleList" :key="index">
          <div class="article-img">
            <img :src="imgUrl + atc.leader_header" :alt="atc.title">
          </div>
          <div class="article-text">
            <div class="article-text-title article-text-center">
              <p class="article-title">{{atc.title}}</p>
              <p class="article-category"># {{atc.category_name}}</p>
            </div>
            <div class="article-text-info article-text-center">
              <p class="article-auto">作者:{{atc.leader_name}}</p>
              <p class="article-read">{{atc.view_num}}次阅读量 <img src="../assets/images/watch1.png" alt=""> </p>
              <p class="article-like">{{atc.like_num}} <img src="../assets/images/like1.png" alt=""></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Swiper, SwiperItem, Divider, XInput, Tab, TabItem, PopupPicker } from 'vux'
  export default {
    name: "index",
    components: {
      Swiper,
      SwiperItem,
      Divider,
      XInput,
      Tab,
      TabItem,
      PopupPicker
    },
    data() {
      return {
        baseList : [
          {
            url: 'javascript:',
            img: require('../assets/images/s1.jpg'),
            title: '送你一朵fua'
          }, {
            url: 'javascript:',
            img: require('../assets/images/s2.jpg'),
            title: '送你一辆车'
          }, {
            url: 'javascript:',
            img: require('../assets/images/s3.jpg'),
            title: '送你一次旅行',
            fallbackImg: 'https://ww1.sinaimg.cn/large/663d3650gy1fq66vw50iwj20ff0aaaci.jpg'
          }
        ],
        iii: 0,
        navList: [
          {
            text: '咨询',
            img: require('../assets/images/consult.png'),
            link: ''
          },
          {
            text: '课程',
            img: require('../assets/images/course.png'),
            link: ''
          },
          {
            text: '文章',
            img: require('../assets/images/article.png'),
            link: ''
          },
          {
            text: '问答',
            img: require('../assets/images/ask-answer.png'),
            link: ''
          },
          {
            text: '客服',
            img: require('../assets/images/customer-service.png'),
            link: ''
          }
        ],
        getBarWidth: function (index) {
          return (3) * 22 + 'px'
        },
        articleTxt: ['好文推荐', '最新文章'],
        articleTxtActive: 0,
        articleList: [],
        articleSelectList: [],
        imgUrl: this.baseImgUrl,
        list1: [['小米1', 'iPhone1', '华为1', '情怀1', '三星1', '其他1', '不告诉你1']],
        value1_1: []
      };
    },
    methods: {
      changeSwiper(index) {
        this.iii = index
      },
      // 获得文章列表
      getArticleList() {
        this.api.getIndexArticle({ hot: 0, uid: 0, sid: 0,})
          .then(res => {
            // console.log(res)
            this.articleList = res.data.list;
          })
          .catch(err => {
            console.log(err)
          })
      },
      // 获得筛选条件
      getSelectConditions() {
        this.api.getIndexSelectConditions()
          .then(res => {
            let a = [];
            res.data.map(item => {
              a.push({
                name: item.name,
                value: item.id
              })
            })
            this.articleSelectList .push(a);
          })
          .catch(err => {
            console.log(err)
          })
      },
       // 文章切换
      articleTxtChange(index) {
        console.log(index)
        // console.log(this.$vux)
        this.$vux.loading.show({
          text: '加载中...'
        })
        setTimeout(() => {
          this.$vux.loading.hide()
          this.articleTxtActive = index
        }, 1000)
      },
      onShow () {
        console.log('on show')
      },
      onHide (type) {
        console.log('on hide', type)
        this.$vux.loading.show({
          text: '加载中...'
        })
        setTimeout(() => {
          this.$vux.loading.hide()
        }, 1000)
      },
      onChange (val) {
        console.log('val change', val)
      },
    },
    created() {
      this.getArticleList();
      this.getSelectConditions();
    }
  }
</script>

<style scoped lang="less">
  .index-container{
    .index-swiper{
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .index-search-box{
      border-radius: 20px;
      margin: 0 auto;
      border: 1px solid #ccc;
      padding: 5px 10px;
      input{
        padding-left: 10px;
      }
    }
    .index-nav-list-container{
      padding: 0 0 10px;
      background-color: #e6e6e6;
      ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 35px 0;
        background-color: white;
        li{
          list-style: none;
          a{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: none;
            -moz-user-select: none;
            img{
              display: block;
              width: 48px;
            }
            p{
              text-align: center;
              color: #121212;
              font-size: 14px;
              margin-top: 20px;
            }
          }
        }
      }
    }
    .index-article-container{
      .index-article-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        *{
          vertical-align: middle;
        }
        .index-article-select{
          fill: #ff6117;
          color: #ff6117;
          font-size: 13px;
          padding-right: 10px;
          /*color: #F70968;*/
        }
      }
      .index-article-body{
        border-top: 1px solid #ccc;
        margin-top: 15px;
        padding: 0 10px;
        .article-list{
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-bottom: 1px solid #e7e7e7;
          .article-img{
            width: 28%;
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              max-width: 90%;
              height: auto;
            }
          }
          .article-text{
            width: 70%;
            .article-text-center{
              display: flex;
              align-items: center;
              height: 50%;
              &.article-text-title{
                justify-content: space-between;
                .article-title{
                  font-size: 16px;
                  width: 70%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
                .article-category{
                  max-width: 25%;
                  font-size: 10px;
                  display: inline-block;
                  padding: 2px;
                  text-align: center;
                  background-color: #ededed;
                }
              }
              &.article-text-info{
                justify-content: space-around;
                p{
                  width: 33.333%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  &.article-auto{
                    text-align: left;
                    font-size: 13px;
                  }
                  &.article-read{
                    text-align: center;
                    font-size: 11px;
                    *{
                      vertical-align: middle;
                    }
                    img{
                      display: inline-block;
                      width: 12px;
                      height: auto;
                    }
                  }
                  &.article-like{
                    text-align: right;
                    font-size: 12px;
                    *{
                      vertical-align: baseline;
                    }
                    img{
                      display: inline-block;
                      width: 12px;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
<style lang="less">
  .index-divider{
    &.index-divider::before{
      background-position: right 0em top 50%;
    }
    &.index-divider::after{
      background-position: left 0em top 50%
    }
  }
  .index-search-input{
    width: 230px;
    padding: 0!important;
    font-size: 11px;
    .weui-cell__hd{
      margin-right: 10px;
    }
  }
  .index-article-tab{
    width: 70%;
    .vux-tab {
      .vux-tab-item{
        background: none!important;
      }
    }
   /* .vux-tab .vux-tab-item.vux-tab-selected{
      color: black;
    }*/
    .vux-tab-bar-inner{
      background: url("../assets/images/tab-bottom.jpg") no-repeat center!important;
      background-size: cover;
      border-radius: 3px;
    }
    .vux-tab{
      height: 40px;
    }
  }
  .index-article-select{
    .weui-cell{
      padding: 0;
    }
    .vux-cell-primary{
      display: none;
    }
    .weui-cell__ft{
      display: none;
    }
  }
</style>
