<template>
  <div id="app">
    <div class="container">
      <router-view/>
    </div>
    <div class="fuck-tabbar">
      <tabbar @on-index-change="onIndexChange" class="">
        <tabbar-item selected link="/">
          <img slot="icon" src="./assets/images/chat.png">
          <img slot="icon-active" src="./assets/images/chat-on.png">
          <span slot="label">聊天</span>
        </tabbar-item>
        <tabbar-item link="/marriageSeeking">
          <img slot="icon" src="./assets/images/marriage.png">
          <img slot="icon-active" src="./assets/images/marriage-on.png">
          <span slot="label">征婚</span>
        </tabbar-item>
        <tabbar-item link="/teacher" tabbarShow>
          <img slot="icon" src="./assets/images/teacher.png">
          <img slot="icon-active" src="./assets/images/teacher-on.png">
          <span slot="label">导师</span>
        </tabbar-item>
        <tabbar-item link="/mine">
          <img slot="icon" src="./assets/images/mine.png">
          <img slot="icon-active" src="./assets/images/mine-on.png">
          <span slot="label">我的</span>
        </tabbar-item>
      </tabbar>
    </div>
  </div>
</template>

<script>
  import { Tabbar, TabbarItem } from 'vux'
  // 引入 vuex 的两个方法
  import {mapGetters, mapActions} from 'vuex'
  export default {
    name: 'App',
    components:{
      Tabbar,
      TabbarItem
    },
    data() {
      return {
        select:"Home",
        tabbarShow: false
      }
    },
    // 计算属性
    /*computed:mapGetters([
      // 从 getters 中获取值
      'tabbarShow'
    ]),*/
    // 监听,当路由发生变化的时候执行
    watch:{
      $route(to,from){
        console.log(to)
        /*if(to.path == '/' || to.path == '/home' || to.path == '/audioBook' || to.path == '/mine'){
          /!**
           * $store来自Store对象
           * dispatch 向 actions 发起请求
           *!/
          this.$store.dispatch('showTabBar');
        }else{
          this.$store.dispatch('hideTabBar');
        }*/
      }
    },
    methods: {
      onIndexChange (newIndex, oldIndex) {
        console.log(newIndex, oldIndex);
      }
    }
  }
</script>

<style>
  *{
    padding: 0;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.container{
  margin-bottom: 53px;
}
  .fuck-tabbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
</style>
